/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* RESETS AND PAGE CONFIGURATION */

 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent;
   font-family: 'Josefin Sans', sans-serif;
   text-decoration: none;
}

html, body, main {
 height: 100%;
 overflow: auto;
 background-color: #EFF0F1  ;
}

/*main {
  display: flex;
}*/

main div {
  position: relative;
  /*width: 100%;*/
}

body {
 position: relative;
 height: 100%;
}

li {
 list-style: none;
}

h1 {
 font-size: 30px;
 text-align: center;
}

.data-reactroot {
  position: relative;
  height: 100%;
}

.welcome {
  color: #fff;
  text-align: center;
  position: relative;
  background: radial-gradient(circle at center,rgba(255,185,0,.5) 0,rgba(252,99,107,.4) 40%,rgba(255,109,146,0) 70%);
  background-color: #ff6d92;
  height: 100vh;

  /* Display Features */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* NAVBAR PROPERTIES */
.hamburger-navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 35px;
}

.navigation-link:hover {
  cursor: pointer;
  color: #02ceff;
}

.navbar {
  background: #fff;
  border-bottom: 1px solid #e1e2e4;
  color: #898e95;
  display: -webkit-box;
  display: -ms-flexbox;
  display: block;
  font-size: 14px;
  height: 40px;
}

.navbar-left {
  display: block;
  float: left;
  margin-left: 30px;
  height: inherit;
}

.navbar-right {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  margin-right: 30px;
}

.navigation-link {
  text-decoration: none;
  float: left;
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
  color: #898e95;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-size: 12px;
  margin: 15px 20px 0px 15px;
  text-transform: uppercase;
}

.navbar .logo-text {
  margin-top: 10px;
  margin-left: 10px;
  text-transform: none;
  display: block;
  float: left;
  font-size: 30px;
  color: black;
}
/* HAMBURGAH */
.hamburger-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  width: auto;
}

.hamburger {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-top: 5px;
}


/* LOGIN FORM PROPERTIES */
.login-form-container {
  /*background: blue;*/
  /*width: 500px;
  height: 450px;*/
  z-index: 10;
  width: 585px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  /*background-color: #fff;
  border-radius: 3px;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
  line-height: 1.5;*/
}

.login-form-box input {
  border: 1px solid #CDCFD2;
  border-radius: 3px;
  color: #1B2432;
  height: 40px;
  margin: 0;
  padding: 0 0 0 10px;
  width: 100%;
}

.login-form-box {
  position: relative;
  width: 100%;

  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
  line-height: 1.5;
  padding-bottom: 45px
}

.login-form-box-inner {
  position: relative;
  /*display: flex;
  align-items: center;
  flex-direction: column;*/
  height: 100%;
  padding: 0 90px;
}

.login-signup {
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
}

.login-input {
  height: 25px;
  width: 400px;
  /*margin-bottom: 25px;*/
}

.login-form {
  height: 400;
  margin-top: 25px;
}

.login-form-background {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  background-color: #fc7279;
  background-image: -webkit-linear-gradient(bottom left, #fc7279 10%, #ff7b9c 65%, #ffc019 125%);
  background-image: linear-gradient(to top right,#fc7279 10%, #ff7b9c 65%, #ffc019 125%);
  min-height: 100vh;
}

.login-form-box h1 {
    /* font-family: "haptik","Helvetica Neue",Arial,sans-serif; */
    color: #1B2432;
    line-height: 45px;
    font-size: 40px;
    padding: 45px 30px 30px;
    text-transform: none;
    font-weight: 400;
    text-align: center;
    vertical-align: baseline;
}

/* LOGIN FORM BUTTON STYLES */
.login-form-submit {
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
  position: relative;
  width: inherit;
  height: inherit;
  margin-bottom: 30px;
  margin-top: 30px;
}

.login-submit.button-general {
  width: 72px;
  font-size: 13px;
  /*margin-top: 30px;*/
}

.form-mode-button {
  width: 70px;
  height: 30px;
  padding: 0 10px;
  margin-left: 10px;
  background-color: transparent;
  border-color: #fff;
  color: #fff;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-transition: background 200ms,border 200ms,box-shadow 200ms,color 200ms;
  -moz-transition: background 200ms,border 200ms,box-shadow 200ms,color 200ms;
  transition: background 200ms,border 200ms,box-shadow 200ms,color 200ms;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  flex-shrink: 0;
  -ms-flex-negative: 0;
  font-size: 12px;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  min-width: 60px;
}

.form-mode-button:hover {
  background-color: #fff;
  border-color: #F0EFFA;
  color: #676D76;
  text-decoration: none;
}

/* DIVIDER BETWEEN DEMO AND LOGIN */
.dialog-login-separator {
  color: #B9BCC0;
  font-size: 24px;
  margin-top: 35px;
  position: relative;
  text-align: center;
}

.dialog-login-separator::before {
  right: 0;
  border-top: 1px solid #E1E2E4;
  content: "";
  height: 1px;
  left: auto;
  position: absolute;
  top: 50%;
  width: 45%;
  z-index: 0;
}

.dialog-login-separator::after {
  border-top: 1px solid #E1E2E4;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  top: 50%;
  width: 45%;
  z-index: 0;
}

/* LOGIN FORM FOOTER */
.form-mode-dialog {
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
}

.login-form-footer {
  color: #fff;
  font-size: 14px;
  overflow: auto;

  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  margin-top: 0;
  line-height: 1;
}

/* GENERAL BUTTON STYLES */

.button-general:hover {
  background: #02CEFF;
  border-color: #02CEFF;
  box-shadow: inset 0 0 transparent,0 0 0 3px #80E6FF;
  -moz-box-shadow: inset 0 0 transparent,0 0 0 3px #80E6FF;
  -webkit-box-shadow: inset 0 0 transparent,0 0 0 3px #80E6FF;
  cursor: pointer;
}

.button-general {
  color: #fff;
  fill: #fff;
  height: 40px;
  padding: 0 15px;
  background: #1AAFD0;
  border-color: #1AAFD0;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-transition: background 200ms,border 200ms,box-shadow 200ms,color 200ms;
  -moz-transition: background 200ms,border 200ms,box-shadow 200ms,color 200ms;
  transition: background 200ms,border 200ms,box-shadow 200ms,color 200ms;
  transition: top 200ms,
  cursor: pointer;
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  flex-shrink: 0;
  -ms-flex-negative: 0;
  font-size: 14px;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  min-width: 60px;
  text-align: center;
}

/* HAMBURGER DROPDOWN STYLES */
.dropdown .list {
  display: none;
  color: #898e95;
  width: 150px;
  position: absolute;
}

.hamburger-container {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.hamburger-container:hover {
  cursor: pointer;
}

.hamburger-container:hover + .dropdown .list {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  flex-direction: column;
  background: #fff;
  border: 1px solid #a1a4aa;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.3);
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}

.hamburger-container:hover + .dropdown .list li {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  width: 150px;
  height: 50px;
}

/* DROPDOWN HOVER EVENTS */

.dropdown {
  margin-top: 35px;
}

.dropdown:hover {
  cursor: pointer;
}

.dropdown:hover .list {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  flex-direction: column;
  background: #fff;
  border: 1px solid #a1a4aa;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.3);
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}

.dropdown:hover .list li {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  width: 150px;
  height: 50px;
}

/* DROPDOWN LIST ITEM STYLES */
.list li:hover {
  color: #fff;
  background: linear-gradient(45deg, #fc636b, #ff6d92 60%, #ffb900 115%);
  cursor: pointer;
}

/* LISTING INDEX WRAPPER STYLES */
.listing-index-container {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 0;
    -webkit-transition: margin .1s ease-in;
    transition: margin .1s ease-in;
/*
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;*/
}

/* LISTING INDEX CONTENT STYLES */
.listing-index {
  white-space: nowrap;
  margin-bottom: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 10px;
  /*position: absolute;*/
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* LISTING INDEX ITEM STYLES */
.listing-item-container {
  width: 270px;
  margin: 0 5px;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}

.listing-item {
  background: #e2e4e6;
  border-radius: 3px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;
}

.sublisting-item-container {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 6px;
  max-width: 300px;
  min-height: 20px;
  position: relative;
  z-index: 0;
}

.sublisting-item {
  overflow: hidden;
  padding: 6px 6px 2px 8px;
  position: relative;
  z-index: 10;
}
